@import "../../app.scss";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: orange;
    font-size: 6rem;

    @include mobile {
      font-size: 4rem;
    }
  }
  .container2 {
    width: 1113px;

    #progress {
      //   position: relative;
      //   top: 20px;
      //   left: 20px;
      transform: rotate(-90deg);

      .bg {
        stroke: white;
        opacity: 0.3;
      }

      .indicator {
        stroke: white;
      }

      circle {
        stroke-dashoffset: 0;
        stroke-width: 15%;
        fill: none;
      }
    }
  }
  .container3 {
    ul {
      max-width: 80%;
      display: flex;
      list-style: none;
      height: 300px;
      overflow-x: scroll;
      padding: 20px 0;
      flex: 0 0 600px;
      margin: 0 auto;
      color: #000000;

      @include mobile {
        width: 27%;
      }
    }

    ::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background: #fff3;
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-thumb {
      background: white;
      -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-corner {
      background: #fff3;
    }

    li {
      flex: 0 0 200px;
      background: black;
      margin: 0 20px 0 0;

      img {
        height: 16rem;
        width: 20rem;
      }
    }

    li:last-of-type {
      margin: 0;
    }
  }
}
